<tr class = "comment">
	<div class="line-separator"></div>
	<div class="comment-author"><%= User.find(comment.user_id).username %></div>
	<div class="comment-content"><%= comment.content %></div>
</tr>