<div class="row-fluid row">	
	<div class="span9 span-fixed-sidebar">
		<div class="hero-unit">
			<h1><%= @lounge.name %></h1>
			<br>
				<div id="post-container">
					<%= render :partial => @lounge, :locals => {:genre => params[:genre]} %>
				</div>
		</div>
	</div>
	<%= render :partial => 'lounges/description_sidebar', :locals => {} %>
</div>