<div class="row-fluid row">	
	<div class="span8 span-fixed-sidebar">
		<div class="hero-unit">
			<h2><%= @lounge.name %></h2>
			<br>
			<table>	
				<div id="post_container">
					<%= render :partial => "posts/post", :collection => @lounge.posts, :locals => { :current_post => @current_post } %>
				</div>
			</table>
		</div>
	</div>

	<div class="span4">
		<div class="well sidebar-nav-fixed">
			<p>
			  <b>Description:</b>
			  <%= @lounge.description %>
			</p>

			<p><%= link_to 'Submit a Post', new_post_path(lounge_id: @lounge) %></p>
		</div>
	</div>
</div>

