<div class="row-fluid">	
	<div class="hero-unit">
			<h1>About ULounge</h1>
			<br>
			
			<h2>About the Creator</h2>
			<div style="padding:0px"><%= image_tag 'bio-pic.jpg', :width => 400 %></div>
			<br>
			<p>ULounge is Michelle's first web application project. She enjoys <a href="http://www.yelp.com/biz_photos/berkeley-fire-trails-berkeley?select=eJKfnKkeQpV3ztg9L8b7VQ#eJKfnKkeQpV3ztg9L8b7VQ">running</a> in the great outdoors and <a href="http://bridgesrockgym.com/">bouldering</a> in the safe indoors. Music is her <a href="http://last.fm/user/callmemc"> life</a>. She likes to build <a href="http://open.spotify.com/user/1224017893">spotify playlists</a> all day, every day. Her favorite movie is <a href="http://www.youtube.com/watch?v=Sy7YnrVXudg">Eternal Sunshine of the Spotless Mind</a>. It makes her cry every time. She's also currently helping to start a new club on campus called <a href="http://www.calblueprint.org/">Blueprint</a> that she's very excited about. Her proudest accomplishments include getting 2nd in her age division in the <a href="http://onlineraceresults.com/race/view_race.php?race_id=22812">U.S. Half Marathon</a> (albeit only 28 people were in her division) and finishing the <a href="http://www.youtube.com/watch?v=vh5HdPM_QuE">Tough Mudder</a> race in 80-something degree weather. If she had to spend her entire life in one place, it would be <a href="http://imgur.com/H6tpoZI">Disneyland</a>.</p> 
			
			<h2>Rationale</h2>
			
			<h3>Description</h3>
			An online community for college students that provides context-sensitive user-generated content, essentially merging the “discovery” aspect of reddit and the college focus of Facebook groups.

			<h3>The Problem</h3>
			Even in today’s digital age, college students lack a central online hub that allows them to effectively share and digest information related to campus life. Popular social media sites do not have the organizational structure, scope, and features needed for students to thoroughly explore their interests and get the most out of their “college experience.”

			<h3>Why Reddit doesn’t solve the problem</h3>
			Reddit is a site built for discovery. By combining user-generated content and an upvote/downvote system, Reddit harnesses the power of the collective to bring the “best” content to the masses. So why do college subreddits fail at providing an effective solution to the problem presented? Because top content on a college subreddit, though interesting, is often not relevant. Content is losing its crown to context, and college subreddits are not context-sensitive because there is no organization within the subreddit. 

			Take, for example, a student who wants information on upcoming tech company info sessions, workshops, and club events. Businesses and clubs might have low motivation to market their events on Reddit because there’s no way to target students in a specific field. The student might also be seeking class advice or a general question about his major. So why not post a question on Reddit? Again, the same problem arises where student cannot direct his question to a specific community. Both posts are prone to getting lost amongst all the other content. 

			<h3>Why Facebook doesn’t solve the problem</h3>
			Then what about Facebook’s “Groups for Schools," which was launched recently in April to connect college students within smaller communities? The problem is that Facebook lacks a lot features and overall structure to optimize it for discovery. Without an upvoting system, it's hard to sift through the trash and trolls to get to the treasure. This goes for comments on posts as well. Posts are also too simplistic--for example, you can't upload pictures. ULounge has the capability to customize each "lounge" (subpage) to provide unique features that go beyond what you can do on Facebook.
			
	</div>

</div>