<div class="row-fluid">	
	<div class="hero-unit">
			
			<h1>About the Creator</h1>
			<div style="padding:0px"><%= image_tag 'bio-pic.jpg', :width => 400 %></div>
			<br>
			<p>BeetGeek is Michelle's first web application project. She enjoys <a href="http://www.yelp.com/biz_photos/berkeley-fire-trails-berkeley?select=eJKfnKkeQpV3ztg9L8b7VQ#eJKfnKkeQpV3ztg9L8b7VQ">running</a> in the great outdoors and <a href="http://bridgesrockgym.com/">bouldering</a> in the safe indoors. Music is her <a href="http://last.fm/user/callmemc"> life</a>. She likes to build <a href="http://open.spotify.com/user/1224017893">spotify playlists</a> all day, every day. Her favorite movie is <a href="http://www.youtube.com/watch?v=Sy7YnrVXudg">Eternal Sunshine of the Spotless Mind</a>. It makes her cry every time. She's also currently helping to start a new club on campus called <a href="http://www.calblueprint.org/">Blueprint</a> that she's very excited about. Her proudest accomplishments include getting 2nd in her age division in the <a href="http://onlineraceresults.com/race/view_race.php?race_id=22812">U.S. Half Marathon</a> (albeit only 28 people were in her division) and finishing the <a href="http://www.youtube.com/watch?v=vh5HdPM_QuE">Tough Mudder</a>. Her future goals include completing a full marathon and a triathlon. If she had to spend her entire life in one place, it would be <a href="http://imgur.com/H6tpoZI">Disneyland</a>.</p>
			
	</div>

</div>