<tr>
	<td>
		<%= link_to image_tag("thumbs-up.jpg", alt: "like", width:25 ), 
			like_post_path(new_post_id: post.id), remote: true %>
	</td>
	<td><%= pluralize(post.likes, 'like') %></td>
	<td><%= link_to post.subject, post_path(post.id) %></td>
<tr>