<div class="track">
	<div class="track-label"><%= t.label :name, 'Track Name' %></div>
	<div class="track-field"><%= t.text_field :name, :class => "input-xlarge" %></div>
	<div class="track-url-label"><%= t.label :url, 'URL' %></div>
	<div class="track-field"><%= t.text_field :url, :class => "input-xlarge" %></div>
</div>