<div class="row-fluid">	
	<div class="span9">
			<h1>New post</h1>

			<% if @lounge.name == 'Coachella' %>
				<%= render :partial => 'coachella_form' %>
			<% else %>
				<%= render :partial => 'form' %>
			<% end %>
			
			<br>
			<%= link_to 'Back to Lounge', lounge_path(@lounge) %>
			
	</div>
	<%= render :partial => 'lounges/description_sidebar' %>
</div>


