table {
	tr {
	}
	td {
		padding:5px;
	}
}

.like-image {
	width:25px;
}
.like-count {
	font-weight:bold;
	font-size:170%;
	color:#957070;
}

td {
	.post-image {
		width:70px;
	}
	.post-subject {
		font-size:130%;
		margin-bottom:-3px;
	}
	.post-author {
		font-size:90%;
	}
	.post-comments {
		font-size:90%;
		color:#4682B4;
		font-weight:bold;
		margin-top:-2px;
	}
}
.post-author {
	margin-top:4px;
}

.subject-heading {
	font-size:150%;
	font-weight:bold;
}
