.dropdown .caret {
  margin-top: 8px;
  margin-left: -17px;
}

/* Posts Show */
#title-wrapper {
	width:600px;
	margin-top:10px;
}
#like-count-large {
	font-weight:bold;
	font-size:240%;
	color:#957070;
	vertical-align:middle;
	margin-top:5px;
	width:28px;
	float:left;
}
#like-image-large {
	width:35px;
	padding-right:12px;
	float:left;
}
#right-wrapper {
	width:525px;
	float:left;
}
.like-view {
	display:inline-block; 
	padding-right:10px;
}

/* Coachella Post - Show */
.tracks {
	padding-left:10px;
	margin-top:3px;
}
.artist-info {
	margin-top:5px;
}
/* Coachella Post - Form */
.track {
	width:550px;
	.track-label {
		width:100px;
		float:left;
	}
	.track-url-label {
		width:50px;
		float:left;
	}
	.track-field {
		width:200px;
		float:left;
	}
}

.genre-container {
	width:500px;
	padding-left:10px;
	.check-box {
		width:18px;
		float:left;
	}
	.electronic {
		width:80px;
		float:left;
		margin-top:3px;
	}
	.hiphop {
		width:105px;
		float:left;
		margin-top:3px;
	}
	.rock {
		width:55px;
		float:left;
		margin-top:3px;
	}
	.pop {
		width:50px;
		float:left;
		margin-top:3px;
	}
	.indie {
		width:60px;
		float:left;
		margin-top:3px;
	}
}
.actions {
	padding-top:20px;
	clear:both;
}
/* Comment */
.avatar {
	width:50px;
}
.line-separator {
	height:1px;
	background:#EBEBEB;
	border-bottom:0.8px solid #F0F0F0;
	margin-top:-4px;
	margin-bottom:1px;
	width:400px;
}
.comment-author {
	font-size:85%;
	font-weight:bold;
	color:#4682B4;
}
.comment-content {
	.track-field {
		width:200px;
		float:left;
	}
}

/* Comment */
.avatar {
	width:50px;
}
.line-separator {
	height:1px;
	background:#EBEBEB;
	border-bottom:0.8px solid #F0F0F0;
	margin-top:-4px;
	margin-bottom:1px;
	width:400px;
}
.comment-author {
	font-size:85%;
	font-weight:bold;
	color:#4682B4;
}
.comment-content {
	font-size:95%;
	margin-top:-2px;
	margin-bottom:-3px;
}
.comment-like-image {
	width:15px;
	float:left;
}
.comment-like-count {
	font-size:105%;
	font-weight:bold;
	color:#957070;
	width:12px;
	float:left;
}
.comment-delete {
	margin-left:5px;
	font-size:85%;
	font-weight:bold;
}
.comment-wrapper {
	width:27px;
}
/* Lounge */
#bucket {
	width:200px;
	margin: 0px auto;
	padding-bottom:10px;
}

